html,
body {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
}

.Site {
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.page-header,
.page-footer {
    flex-grow: 0;
    flex-shrink: 0;
}

.Site-content {
    flex-grow: 1;
}